.redPill {
  background-color: #FF0000;
  font-size: 10px;
  padding: 7px 10px;
}
.blackPill {
  background-color: #000000;
  font-size: 10px;
  padding: 7px 10px;
}

.thumbnail {
  width: 270px;
  height: 150px;
  object-fit:cover;
  cursor: pointer;
}

.card {
  display: inline-flex;
  min-height: fit-content;
  border: none;

  margin-bottom: 1rem;
}

.cardBody {
  margin: 0.75rem 1rem 0.75rem 0.75rem;
}

.row {
  --bs-gutter-x: 1rem;
  --bs-gutter-y: 0.2rem;
}

*, ::after, ::before {
  box-sizing:content-box;
}

.channelPic {
  border-radius: 50%;
  width: 90%;
  float: left;
  display: flex;
  align-content: center;
  justify-content: center;
}

.channelPic:hover{
  cursor: pointer;
}

.card-title {
  font-size: 0.85rem;
  text-overflow: ellipsis;
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

a.card-text {
  text-decoration: none;
}

a.card-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card-text {
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0.2rem 0 0 0;
}