.sideBar {
  width: 15rem;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

.sideBar .logo {
  margin-top: 8px;
  width: 7rem;
  height: 2rem;
  padding-right: 10px;
}

.sideBar .top {
  height: 56px;
  padding-top: 16px;
}

.sideBar .bottom {
  padding: 8px 24px;
}

.sideBar .bottom .github {
  font-size: 1.7rem;
  margin-left: 24px;
  border: none;
}

button, input[type="submit"], input[type="reset"] .sideBar .bottom .darkmode {
  font-size: 1.4rem;
  color: black;
  background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
}