.menuItem {
  padding: 5px 24px;
}

.menuItem a {
  color:black;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.icon {
  font-size: 1.25rem;
  margin-right: 24px;
  vertical-align: middle;
}

.active {
  background-color: rgb(233, 233, 233);
}

.menuItem:hover {
  background-color: #f0f0f0;
  color:black;
}


.menuItem a:hover{color:black;}