.error {
  text-align: center;
  height: 100vh;
}

.error h1 {
  padding-top: 30vh;
  color: var(--text-primary);
  vertical-align: center;
  margin-bottom: 2vh;
}

.error h3{
  color: var(--text-primary);
  margin-bottom: 10vh;
}

.error a {
  color: white;
  background-color: rgb(220, 37, 37);
  padding: 1rem 1.2rem;
  border-radius: 15px;
  text-decoration: none;
  font-size: large;
}

.PageError[data-theme='light']{
  background-color: var(--background);
}
.PageError[data-theme='dark'] {
  background-color: var(--background);
}
