body {
  font-family: 'Roboto', sans-serif;
}

/* Light/Dark Mode */
[data-theme='dark'] {
  --background: #0D0D0D;
  --text-primary: white;
  --text-secondary: rgb(231, 231, 231);
  --sidebar-background: black;
  --sidebar-active: #F0302F;
  --sidebar-hover: #363636;
}

[data-theme='light'] {
  --background: rgb(250, 250, 250);
  --text-primary: rgb(0, 0, 0);
  --text-secondary: rgb(33, 37, 41);
  --sidebar-background: white;
  --sidebar-active: rgb(233, 233, 233);
  --sidebar-hover: #f0f0f0;
}

.App[data-theme='dark'] {
  background-color: var(--background);
}

.App[data-theme='light'] {
  background-color: var(--background);
}

.App[data-theme='dark'] {
  background-color: var(--background);
}

.sideBar[data-theme='dark'] {
  background-color: var(--sidebar-background);
  color: var(--text-primary);
}

.sideBar[data-theme='light'] {
  background-color: var(--sidebar-background);
  color: var(--text-primary);
}

.sideBar .bottom .github[data-theme='light'] {
  color: var(--text-primary);
}

.sideBar .bottom .github[data-theme='dark'] {
  color: var(--text-primary);
}

.menuItem[data-theme='dark'] {
  color: var(--text-primary);
}

.menuItem[data-theme='light'] {
  color: var(--text-primary);
}

.active[data-theme='dark'] {
  background-color: var(--sidebar-active);
}

.active[data-theme='light'] {
  background-color: var(--sidebar-active);
}

.menuItem[data-theme='light']:hover {
  background-color: var(--sidebar-hover);
  color: var(--text-primary);
}

.menuItem[data-theme='dark']:hover {
  background-color: var(--sidebar-hover);
  color: var(--text-primary);
}

.menuItem[data-theme='dark'].active:hover {
  background-color: var(--sidebar-active);
  color: var(--text-primary);
}

h2[data-theme='dark'] {
  color: var(--text-primary);
}

h2[data-theme='light'] {
  color: var(--text-primary);
}

.left.container[data-theme='light'] {
  background-color: var(--background);
}

.left.container[data-theme='dark'] {
  background-color: var(--background);
}

.table[data-theme='light'] {
  color: var(--text-primary);
}

.table[data-theme='dark'] {
  color: var(--text-primary);
}

.channelUrl[data-theme='light'] {
  color: var(--text-primary);
}

.channelUrl[data-theme='dark'] {
  color: var(--text-primary);
}

.channelUrl[data-theme='light']:hover {
  color: var(--text-primary);
}

.channelUrl[data-theme='dark']:hover {
  color: var(--text-primary);
}

.card[data-theme='dark'] {
  background-color: var(--background);
}

.card[data-theme='light'] {
  background-color: var(--background);
}

.cardBody[data-theme='dark'] {
  color: var(--text-primary);
}

.cardBody[data-theme='light'] {
  color: var(--text-primary);
}

a.card-text[data-theme='light']{
  color: var(--text-primary);
}
a.card-text[data-theme='dark']{
  color: var(--text-primary);
}